@layout MainLayout
@page "/viewProfile"

<div class="container">
    <div class="row">
        <h2>Nombre: @name</h2>
    </div>
    <div class="row">
        <h2>Apellido: @lastname</h2>
    </div>
    <div class="row">
        <h2>Edad: @age</h2>
    </div>
    <div class="row">
        <h2>Username: @username</h2>
    </div>
    <div class="row">
        <h2>Semestre: @semester</h2>
    </div>
    <div class="row">
        <h2>Semestre: @rotation</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-lg btn-block" href="updateProfileInformation" >Actualizar Información de Perfil</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-danger btn-lg btn-block" href="home" >Eliminar Perfil</a>
        </div>
    </div>

</div>

    
    @code {
        string name = "Marlon";
        string lastname = "Esteban";
        int age = 21;
        string username = "marlon_linares_16";
        int semester = 8;
        string rotation = "Rotación Mañana";
    }
